.cost-benefit {
    padding: 32px 12px 12px 12px;
    border-radius: 0 0 10px 10px;
    border: 2px #454BBA solid;

    .timespent-input-group {
        overflow: hidden;

        .timespent-input {
            width: 10%;
            margin-right: calc(10%/9);
        }
    }
}