.guide-tables {

	.section-inner {
		padding-top: $guide-tables--padding-t__mobile;
		padding-bottom: $guide-tables--padding-b__mobile;
	}

}

.guide-tables-inner {

	ul {
		list-style-type: none !important;
		margin-bottom: 0px;
		padding-top: 20px;
		padding-left: 0px;
		border-radius: 0 0 10px 10px;
		border: 2px color(primary) solid;
	}

	.alert {
    	border: 2px #454BBA solid;
		margin-bottom: -2px;
		padding: 5px 16px;
		background-color: white;
		color: red;
		font-weight: 700;
		font-size: 14px;
	}

	.react-tabs__tab-list {
		border: none;
		overflow-x: auto;
		overflow-y: hidden;
    	white-space: nowrap
	}

	.react-tabs__tab--selected {
		background: color(secondary-dark);
		border-color: color(secondary-dark);
		color: color(high-contrast) !important;
	}

	.react-tabs__tab {
		border: solid 1px;
		border-color: transparent;
		margin-bottom: 0px;
		color: color(secondary-dark);
		border-radius: 5px 5px 0 0;
		transition: all 0.5s;

		&:hover{
			border-color: color(secondary-dark);
		}
	}

	.tab-panel-inner {
		background: white;
	}
}

@include media( '<=medium' ) {

	.guide-tables {

		
	}
}

@include media( '>medium' ) {

	.guide-tables {

		.section-inner {
			padding-top: $guide-tables--padding-t__desktop;
			padding-bottom: $guide-tables--padding-b__desktop;
		}
	}

	.guide-tables-inner {

	}
}
