.report-preview {

	.section-inner {
		padding-top: $report-preview--padding-t__mobile;
		padding-bottom: $report-preview--padding-b__mobile;
	}

}

.report-preview-inner {

	.content {
		
		.button-group {
			justify-content: center;
		}

		.report-content {
			border-style: solid;
			border-radius: 5px;
			border-width: 2px;

			max-height: 700px;
			overflow-y: scroll;
		}

		.report {
			h1 { font-size: 1.2em; }
			h2 { font-size: 1em; margin-top: 0px; }
			h3 { font-size: 0.8em; margin-top: 0px; }
			h4 { font-size: 0.6em; }
			h5 { font-size: 0.5em; }
			p { font-size: 12px; margin-bottom: 0px; }

			.header {
				.container {
					justify-content: center;
				}

				h1 {
					margin: 0.67em 0;
					text-align: center;
				}
			}

			.container {
				padding: 12px;
			}

			a {
				color: color(link-inverse);
			}

			.property-title {
				font-weight: 600;
			}

			.costbenefit-result {
				display: inline-flex;
				margin-top: 12px;
		
				span {
					color: color(mid-contrast-inverse);
					font-weight: 700;
					font-size: 0.6em;
				}
		
				img {
					float: right;
					width: 30%;
					min-width: 294px;
					height: fit-content;
				}
			}
		}
	}
}

@include media( '<=medium' ) {

	.report-preview {

		
	}
}

@include media( '>medium' ) {

	.report-preview {

		.section-inner {
			padding-top: $report-preview--padding-t__desktop;
			padding-bottom: $report-preview--padding-b__desktop;
		}
	}

	.report-preview-inner {

	}
}
