.slider {

    background-color: cadetblue;

    .section-inner {
        position: relative; // To always display inner elements above pseudo decorative stuff
        padding-top: $slider--padding-t__mobile;
        padding-bottom: $slider--padding-b__mobile;
    }
    
    .section-header {
        padding-bottom: $section-header--padding__mobile;
        margin-top: $section-header--margin__mobile;
        
        h2 {
            color: color(high-contrast);
        }
    }

    .slider-inner {
        
        text-align: center;

        img {
            max-height: $slider--height;
        }

        h4 {
            color: color(high-contrast);
        }

        li:not(:last-child) {
            margin-bottom: 0;
        }
    }
    
}

@include media( '>medium' ) {
    
    .section-inner {
        padding-top: $slider--inner-padding-v_desktop;
        padding-bottom: $slider--inner-padding-v_desktop;
    }

    .section-header {
        padding-bottom: $section-header--padding__desktop;
        margin-top: $section-header--margin__desktop;
    }
}