// About (core/sections/_about.scss) -----------------------------
$about--padding-t__mobile: 		    0px;		// about, top padding (mobile)
$about--padding-b__mobile: 	    	null;		// about, bottom padding (mobile)
$about--padding-t__desktop: 		0px;		// about, top padding (desktop)
$about--padding-b__desktop: 		null;		// about, bottom padding (desktop)
$about--inner-padding-v_mobile:     null;
$about--inner-padding-v_desktop:    null;