// About (core/sections/_about.scss) -----------------------------
$about--padding-t__mobile: 		    10px;		// about, top padding (mobile)
$about--padding-b__mobile: 	    	10px;		// about, bottom padding (mobile)
$about--padding-t__desktop: 		20px;		// about, top padding (desktop)
$about--padding-b__desktop: 		20px;		// about, bottom padding (desktop)
$about--inner-padding-v_mobile:     null;
$about--inner-padding-v_desktop:    null;