// Environment (core/sections/_environment.scss) -----------------------------
$environment--padding-t__mobile: 		    0px;		// environment, top padding (mobile)
$environment--padding-b__mobile: 	    	null;		// environment, bottom padding (mobile)
$environment--padding-t__desktop: 		    0px;		// environment, top padding (desktop)
$environment--padding-b__desktop: 		    null;		// environment, bottom padding (desktop)
$environment--inner-padding-v_mobile:       null;
$environment--inner-padding-v_desktop:      null;