// Guide (core/sections/_guide.scss) -----------------------------
$guide--padding-t__mobile: 		    0px;		// guide, top padding (mobile)
$guide--padding-b__mobile: 	    	null;		// guide, bottom padding (mobile)
$guide--padding-t__desktop: 		0px;		// guide, top padding (desktop)
$guide--padding-b__desktop: 		null;		// guide, bottom padding (desktop)
$guide--inner-padding-v_mobile:     null;
$guide--inner-padding-v_desktop:    null;