// Guide Tables (core/sections/_guide-tables.scss) -----------------------------
$guide-tables--padding-t__mobile: 		        0px;		// guide-tables, top padding (mobile)
$guide-tables--padding-b__mobile: 	    	    0px;		// guide-tables, bottom padding (mobile)
$guide-tables--padding-t__desktop: 		        0px;		// guide-tables, top padding (desktop)
$guide-tables--padding-b__desktop: 		        0px;		// guide-tables, bottom padding (desktop)
$guide-tables--inner-padding-v_mobile:          0px;
$guide-tables--inner-padding-v_desktop:         0px;