// How To Use (core/sections/_how-to-use.scss) -----------------------------
$how-to-use--padding-t__mobile: 		10px;		// how-to-use, top padding (mobile)
$how-to-use--padding-b__mobile: 		10px;		// how-to-use, bottom padding (mobile)
$how-to-use--padding-t__desktop: 		20px;		// how-to-use, top padding (desktop)
$how-to-use--padding-b__desktop: 		20px;		// how-to-use, bottom padding (desktop)
$how-to-use--inner-padding-v_mobile:    null;
$how-to-use--inner-padding-v_desktop:   null;