// Report Preview (core/sections/_report-preview.scss) -----------------------------
$report-preview--padding-t__mobile: 		    null;		// report-preview, top padding (mobile)
$report-preview--padding-b__mobile: 	    	null;		// report-preview, bottom padding (mobile)
$report-preview--padding-t__desktop: 		    null;		// report-preview, top padding (desktop)
$report-preview--padding-b__desktop: 		    null;		// report-preview, bottom padding (desktop)
$report-preview--inner-padding-v_mobile:        null;
$report-preview--inner-padding-v_desktop:       null;