// slider (core/sections/_slider.scss) -----------------------------
$slider--padding-t__mobile: 		0px;		// slider, top padding (mobile)
$slider--padding-b__mobile: 	    0px;		// slider, bottom padding (mobile)
$slider--padding-t__desktop: 		0px;		// slider, top padding (desktop)
$slider--padding-b__desktop: 		0px;		// slider, bottom padding (desktop)
$slider--inner-padding-v_mobile:    null;
$slider--inner-padding-v_desktop:   null;
$slider--height:                    calc(100vh * 0.8);